.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: white;
    border: none;
    transition: all 0.25s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 2px black;
    border-radius: 50%;

    & img {
        width: 22px;
        height: 22px;
    }

    &:hover {
        box-shadow: 0 0 2px inset black;
    }
}

.button_to_delete {
    margin-right: 10px;
}